@{
    ViewData["Title"] = "VAGnificent";
}

<h1>Privacy Policy for @ViewData["Title"]</h1>

<h2>Effective Date: 29.06.2023</h2>

<div>

    <p>This Privacy Policy outlines the policies and practices of Dreammy, the operator of the VAGnificent website, regarding the collection, use, and disclosure of personal information when you visit and use our website. We are committed to protecting your privacy and ensuring the security of your personal information. By using the VAGnificent website, you consent to the practices described in this Privacy Policy.</p>

    
    <h3>Information We Collect</h3>
    <p>1.1 Personal Information: When you visit and interact with our website, we may collect certain personal information that can identify you, such as your name, email address, postal address, and other contact information. We collect this information only when you voluntarily provide it to us, such as when you subscribe to our newsletter or contact us through the provided contact forms.</p>
    

    <p>1.2 Usage Information: We may automatically collect certain non-personal information about your use of our website, such as your IP address, browser type, operating system, referring URLs, and other similar data. This information is used to analyze trends, administer the website, track user movements, and gather demographic information for aggregate use.</p>

    <h3>Use of Information</h3>
    <p>2.1 Personal Information: We may use your personal information to communicate with you, respond to your inquiries, provide the services you request, and send you administrative information, such as updates, security alerts, and confirmations.</p>

    <p>2.2 Usage Information: The non-personal information we collect helps us improve our website, enhance user experience, and analyze user preferences and trends. This information may be used for statistical purposes, to monitor and analyze usage patterns, and for other business purposes.</p>

    <h3>Sharing of Information</h3>
    <p>3.1 We may share your personal information with trusted third-party service providers who assist us in operating our website, conducting business, and providing services to you. These service providers are obligated to keep your information secure and confidential and are prohibited from using your personal information for any other purpose.</p>

    <p>3.2 We may also disclose your personal information when required by law or in response to valid requests by public authorities.</p>

    <h3>Security</h3>
    <p>4.1 We take reasonable measures to protect the security and integrity of your personal information. However, please be aware that no method of transmission over the Internet or electronic storage is completely secure. We cannot guarantee absolute security, but we strive to maintain appropriate physical, electronic, and administrative safeguards to protect your personal information.</p>

    <h3>Your Rights</h3>
    <p>5.1 You have the right to access, update, and correct your personal information. If you would like to review or make changes to your personal information, please contact us using the information provided below.</p>

    <h3>Cookies and Tracking Technologies</h3>
    <p>6.1 Our website may use cookies and similar tracking technologies to enhance your browsing experience. Cookies are small text files that are stored on your device when you visit certain websites. You can control cookies through your browser settings and other tools. However, please note that disabling cookies may limit the functionality of our website.</p>

    <h3>Third-Party Links</h3>
    <p>7.1 Our website may contain links to third-party websites that are not operated or controlled by us. This Privacy Policy does not apply to such third-party websites. We recommend reviewing the privacy policies of those websites to understand their data practices.</p>

    <h3>Children's Privacy</h3>
    <p>8.1 Our website is not intended for use by children under the age of 16. We do not knowingly collect personal information from children. If you believe we have inadvertently collected personal information from a child, please contact us, and we will promptly delete it.</p>

    <h3>Changes to this Privacy Policy</h3>
    <p>9.1 We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective immediately upon posting the revised Privacy Policy on our website. We encourage you to review this Privacy Policy periodically for any updates.</p>

</div>
<h2>Contact Us</h2>
<div>
    
        <p>If you have any questions, concerns, or requests regarding this Privacy Policy or the handling of your personal information, please contact us at:</p>

        <p>Dreammy</p>
        <p>Email: albom2004q@gmail.com</p>
        <p>Postal Code: 11111</p>
        <p>Country: Ukraine</p>
        <p>City: Odesa</p>
        <p>Region: Odeska oblast</p>

       <h5> By using the VAGnificent website, you acknowledge that you have read and understood this Privacy Policy and agree to its terms and conditions.</h5>
    
</div>