@model Disposal

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                @* <div asp-validation-summary="ModelOnly"></div> *@
                <div class="form-floating py-2 col-12">
                    <select asp-for="BrandId" asp-items="@Model.Brands" class="form-select border-0 shadow">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <label asp-for="BrandId" class="ms-2"></label>
                    <span asp-validation-for="BrandId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Model" class="form-control border-0 shadow">
                    <label asp-for="Model" class="ms-2"></label>
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="BrandCountry" class="form-control border-0 shadow">
                    <label asp-for="BrandCountry" class="ms-2"></label>
                    <span asp-validation-for="BrandCountry" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Colour" class="form-control border-0 shadow">
                    <label asp-for="Colour" class="ms-2"></label>
                    <span asp-validation-for="Colour" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="FuelType" class="form-control border-0 shadow">
                    <label asp-for="FuelType" class="ms-2"></label>
                    <span asp-validation-for="FuelType" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Weight" class="form-control border-0 shadow">
                    <label asp-for="Weight" class="ms-2"></label>
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="HorsePower" class="form-control border-0 shadow">
                    <label asp-for="HorsePower" class="ms-2"></label>
                    <span asp-validation-for="HorsePower" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="EngineCapacity" class="form-control border-0 shadow">
                    <label asp-for="EngineCapacity" class="ms-2"></label>
                    <span asp-validation-for="EngineCapacity" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="TransmisionType" class="form-control border-0 shadow">
                    <label asp-for="TransmisionType" class="ms-2"></label>
                    <span asp-validation-for="TransmisionType" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="TravelledDistance" class="form-control border-0 shadow">
                    <label asp-for="TravelledDistance" class="ms-2"></label>
                    <span asp-validation-for="TravelledDistance" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Year" class="form-control border-0 shadow">
                    <label asp-for="Year" class="ms-2"></label>
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="DollarsPrice" class="form-control border-0 shadow">
                    <label asp-for="DollarsPrice" class="ms-2"></label>
                    <span asp-validation-for="DollarsPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Accidents" class="form-control border-0 shadow">
                    <label asp-for="Accidents" class="ms-2"></label>
                    <span asp-validation-for="Accidents" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Year.Year" class="form-control border-0 shadow">
                    <label asp-for="Year.Year" class="ms-2"></label>
                    <span asp-validation-for="Year.Year" class="text-danger"></span>
                </div>
                <div class="row pt-2 mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Brand" asp-action="Index" class="btn btn-outline-primary form-control">Back to list</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}