@using Microsoft.AspNetCore.Mvc.TagHelpers
@model VAGnificent.Models.Models.Order

<div class="row orderForm ">
    <h3 class="text-center">You are just one step away from buying your dream :3</h3>

    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="Id" hidden/>
    <div class="form-group">
        <form asp-action="Checkout" method="post" class="form-horizontal" role="form">
            <div class="form-group">
                <label asp-for="LastName" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="LastName" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="FirstName" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="Address" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PostalCode" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="PostalCode" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="State" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="State" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Country" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="Country" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="PhoneNumber" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="Email" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="OrderTotal" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="OrderTotal" class="form-control"/>
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="btn-group col-md-2 control-label">
                    <input class="btn btn-success" type="submit" value="Complete order"/>
                </div>
            </div>
        </form>
    </div>
</div>